
.main-3{
   
    height: 680px;
    width: 900px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.main>div{
   
    width: 50%;
    height: 100%;
}
.fill{
    color: grey;
    font-size: 21px;
}
.name{
    margin-top: 20px;
   
}
.input-name{
    width: 300px;
    height: 30px;
}
.req{
    color: red;
}
.submit{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.submit-btn-2{
    width: 400px;
    height: 35px;
    margin: auto;
    color: white;
    background-color: grey;
}
.submit-btn-2:hover{
    background-color: magenta;
    color: white;
    cursor: pointer;
}
.btn-back{
    width: 400px;
    height: 35px;
    margin: auto;
    border: 2px solid magenta;
    background-color: white;
   
}
.right-2{
    margin-left: 100px;
}